<section class="modal-overlay" id="ovarlay">
    <div class="modal" id="modal">

        <div class="modal-header">
            <h3>Remover Pokemon</h3>
            <a href="/" id="close-modal-put"><i class="bi bi-x"></i></a>
        </div>

        <div class="modal-body">
            <p>Tem certeza que deseja excluir o <%= pokemonDel.nome %></p>
            <div id="btns-del">
                <a id="no" href="/">Não</a><!--fechar o modal-->
                <a id="yes" href="/remove/<%= pokemonDel.id %>">Sim</a><!--rota remove-->
            </div>
        </div>

    </div>        
</section>