<nav>
    <ul>
        
        <li>
            <a href="/"><!-- pro google indexa minha página-->
                <h1>Pokédex</h1>
            </a>
        </li>
        <li><a href="/signup">Cadastro</a> </li>
        <li><a href="#cards">Pokemons</a></li>
    </ul>
</nav>
