
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth;
    -webkit-user-select: none;/* internet explore */
  -moz-user-select: -moz-none;/* mozilas */
  -ms-user-select: none; /* todos os microsoft*/
    user-select: none;/* tira o curso selecionando em certos pontos não é compatível com todos os servidores */
}nav {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  background-color: #dc0a2d;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0.6rem;
}

nav img {
  width: 3rem;
}

nav h1 {
  color: #fff;
  font-size: 1.4rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

section#cards div.card a#editar {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #0077ff;
  color: #0077ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
}



section#cards div.card a#apagar {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px #ff0000;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 1rem;
  }

  section#cards div.card a#infoo {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px #ff0000;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  section#info div.cardd a#retornar {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px #ff0000;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 1rem;
    list-style: none; /* tira abolinha */
    

  }

 
  
  section#info div.cardd a#retornar:hover {
    background-color: #ff0000;
    color: #fff;
  }
  section#cards div.card a#infoo:hover {
    background-color: #ff0000;
    color: #fff;
  }

  section#cards div.card a#editar:hover {
    background-color: #0077ff;
    color: #fff;
  }
  
  section#cards div.card a#apagar:hover {
      background-color: #ff0000;
      color: #fff;
    }



header {
  
    padding: 2rem;
    background-color: rgb(252, 248, 248);
    /*foi colocado display flex aqui e não consegui alinha no h1 com text-aling center */
    
    
}

header h1{
  color: rgb(8, 8, 8);
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}
header img{
  width: 5%
}

body{
    background-color: rgb(5, 110, 170);
    height: 100vh;

}
main{
   margin: 0 10rem 0 10rem;

}

#doId{
  margin-top: .4rem;
}

section#cards{
  display: flex;
  justify-content: space-evenly; /* um espaço armonioso entre os itens  */
  margin-top: 5rem;/* abaixa um pouco os cards do header */
  flex-wrap: wrap;/* não deixa juntar muito os cards e joga pra baixo*/
}
section#info{
  display: flex;
  justify-content: space-evenly; /* um espaço armonioso entre os itens  */
  margin-top: 5rem;/* abaixa um pouco os cards do header */
  flex-wrap: wrap;/* não deixa juntar muito os cards e joga pra baixo*/
}

section#info div.cardd{/*stylirizando o card */
  width: 20rem;
  
  padding: 2rem;

}


section#cards div.card{/*stylirizando o card */
   width: 20rem;
   box-shadow: 5px 5px 5px 5px   #00000020;
   padding: 2rem;

}

section#cards div.card img{ /* stylirizando a imagem do card */
    width: 100%;/* ocupa 100% do espaço do card NÃO ESQUEÇA */
 
 }

 section#cards div.card h2{ /* stylirizando h2*/
 margin-bottom: 1rem; /* afasta o nome do pokemon do texto em baixo */

 }

 section#cards div.card p.descricao{ /* stylirizando parágrafo da descrição*/
  margin-bottom: 1rem; /* afasta a descrição do tipo */

 }
 
 section#info div.cardd p.descricaoo{ /* stylirizando parágrafo da descrição*/
  margin-bottom: 1rem; /* afasta a descrição do tipo */

 }
 

 section#cadastrarPokemon{
flex-direction: column;
margin: 3rem;
width: 100%;
 }

 section#cadastrarPokemon div{
  margin: 1rem;
  
  
 }
 section#cadastrarPokemon form input{
  width: 50%;
  padding: .4rem;
border: none;
  
 }
 section#cadastrarPokemon button{
  padding: .4rem;
border: none;
transform: 7s;
cursor: pointer;

 }
 section#cadastrarPokemon button:hover{
  background-color: #ff0000;
  color: #fff;
    transition: all 0.3s ease-in-out;

 }
 footer{
   background-color:rgb(236, 16, 34);
   padding: 3rem;
   text-align: center;
 }

 section#message {
  padding: 1.5rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

#linkP{
text-decoration: none;/* remove a linha sublinhada do texto*/
color: rgb(8, 8, 8);

}

#linkP:hover{
color:#fff
}


.modal-overlay {
  background-color: #00000050;/* essa opacidade é pra mostrar o fundo da página */
  width: 100vw;/* tamanho da largura da tela que eu estou */
  height: 100vh;/* 100% da página que eu estou */
  position: fixed;/* posição fixada */
  top: 0;
  left: 0;
  z-index: 9999;/* ficará acima de tudo e de todos */
  display: flex;
  justify-content: center;/* alinhar no centro */
  align-items: center;/* alinhamento vertical */
  overflow-y: auto; /* se for necessário uma barra lateral RESPONSIVIDADE  */
}

.modal { /* deixando o modal bonito */
  margin: 1rem;
  width: 100%;
  max-width: 600px;/* o máximo de largura que ele pode ir */
  height: auto;
  min-height: 300px; /* mínimo de alture */
  background-color: #fff;
  border-radius: 11px;/* borda redondinha */
  display: flex;
  flex-direction: column;/* deixa em colunas */
  overflow: hidden; /* não se sobre sair sobre nada  NÃO TER SCROW*/
}


.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #dc0a2d;
  padding: 1rem; /* espaçamento */
  color: #fff;
}


.modal-header a#close-modal-put {
  font-size: 1.4rem; /* tamanho do x */
  color: #fff; /* cor do x */
  text-decoration: none; /* removendo a linha sobrinhado de bebaixo do x */
}


.modal-body {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.form-modal {
  display: flex;
  flex-wrap: wrap;/* quebra linha */
}


.form-modal input {
  width: 100%; /* o input vai ocupar 100% da linha ai o code de cima funciona legal */
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 2px #ccc;
}

.form-modal input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 2px #ccc;
}


.form-modal label {
  color: rgb(112, 112, 112);
  padding-top: 0.5rem;
}

.form-modal button {
  padding: 0.6rem;
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  font-size: 1rem;
  background-color: #fff;
  color: #40af00;
  border: solid 1px #40af00;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* para o hover não ser agrecisso*/
}


.form-modal button:hover {
  background-color: #40af00;
  color: #fff;
}

.modal-body p {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

div#btns-del {
  display: flex;
  margin: 0 auto;
}


div#btns-del a {
  padding: 0.7rem;
  text-decoration: none;
  width: 100%;
  margin: 2rem 1rem 1rem;
  border-radius: 3px;
}

div#btns-del a#no {
  color: #dc0a2d;
  border: solid 1px #dc0a2d;
  transition: all 0.3s ease-in-out;/* por causa do hover*/
}

div#btns-del a#no:hover {
  color: #fff;
  background-color: #dc0a2d;
}

div#btns-del a#yes {
  color: #40af00;
  border: solid 1px #40af00;
  transition: all 0.3s ease-in-out;
}

div#btns-del a#yes:hover {
  color: #fff;
  background-color: #40af00;
}

.message {
  position: absolute;
  top: 7rem;
  right: 2rem;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  padding: 1.2rem;
  font-weight: 600;
  border-radius: 3px;
}


.message-danger {
  background-color: #ffbac6;
  color: #b4001e;
}

.message-success {
  background-color: #c0ffba;
  color: #007a0a;
}

.message-info {
  background-color: #babfff;
  color: #0003b4;
}

.message-warning {
  background-color: #fffaba;
  color: #b48400;
}

.message i {
  cursor: pointer;
  font-size: 1.7rem;
}
.dropdown {/* jogado tudo pra direita */
  display: flex;
  justify-content: flex-end;
}


.dropdown-button {
  font-size: 1.5rem;
  cursor: pointer; /* quando passao o curso nos pontinhos aparecerá umaa mão de click */
  transition: all 0.3s ease-in-out;
  position: relative;
}

.dropdown-button:hover {/* uma animação */
  box-shadow: 0px 10px 10px 0 #00000030;
}
.dropdown-content {
  display: none;/* esete cara que escondeu as opções */
  position: absolute;/* sai do escopo do flax box */ 
  width: 6rem;
  margin-top: 1.8rem;
  overflow: auto;/* se precisar de scrow vai ser automático */
  box-shadow: 0px 10px 10px 0 #00000015;
  background-color: #fff;
}

.dropdown-content a {
  text-decoration: none;/* tirar decoração de links */ 
  display: flex; /* aberto a direita */
  justify-content: flex-end;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: #000000;
}


.dropdown-content a:hover {
  background-color: #dc0a2d;
  color: #fff;
}
